@use "./style/fonts.scss";
@use "./style/home.scss";
@use "./style/footer";
@use "./style/contact";
@use "./style/nav";
@use "./style/planets";
@use "./style/top";
@use "./style/skills";
@use "./style/projects";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  ul {
      list-style: none;
  }
}

main {
  width: 80%;
}

.app {
  color: #FDF4ED;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

body, .bg-dark {
  background-color: #061723!important;
}

.light {
  background-color: #244f6e!important;
}


