@use "./style/fonts.scss";
@use "./style/home.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  ul {
      list-style: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body, .bg-dark {
  background-color: #061723!important;
}

.light {
  background-color: #244f6e!important;
}

form {
  padding: 2rem;
}

footer {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  ul {
      width: 50%;
      margin: 1rem auto;
      display: flex;
      justify-content: space-around;
      padding: 0;
      a {
          font-size: 1.5rem;
      }
  }

  p  {
     margin-top: 2rem;

     i {
         opacity: 0.6;
     }
  }
}