
.about-me {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    div {
        width: 48%;
        min-width: 300px;
    }

    p {
        font-size: 1.2rem;
    }

    .about-me-img {
        background: url(../../public/images/me.png);
        background-size: cover;
        background-position: center;
        width: 40%;
    }

    .about-me-txt {
      width: 50%;
      margin: 4rem 0;

      h3 {
          margin-bottom: 2rem;
      }
    }
}

@media (max-width: 990px) {
    .about-me {
        flex-direction: column;
    }
}