.projects {
    margin: 0 auto;
    text-align: center;

    h3 {
        margin: 3rem 0;
    }

    .project {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;

        .project-img {
            width: 40%;
            img {
                width: 100%;
            }
            
        }
        .project-txt {
            width: 45%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media (max-width: 990px) {
    .projects {
        .project {
            width: 100%;
            display: flex;
            flex-direction: column;
    
            .project-img {
                width: 100%;
                img {
                    width: 100%;
                }
                
            }
        }
    }    
}