
.skills {
    margin: 3rem auto;
    text-align: center;

  
    h2 {
      margin: 2rem 0;
    }

    .nav-link:focus, .nav-link:hover {
      color: #984447!important;
    }
  }

  .skill-details {

    h3 {
      text-align: center;
    }
  }