
.skills {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
  
    h2 {
      margin: 2rem 0;
    }
  
    table {
      width: 60%;
      margin: 0 auto;
      td {
        width: 20%;
        padding: 1rem;
      }
    }
  }