@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Lato:wght@300;400;700;900&family=Quicksand:wght@300;400;500;600&display=swap');

:root  {
    color:#FDF4ED!important;

    h1, h2 {
      font-family: 'Gotu', sans-serif;
      font-weight: 100;
      letter-spacing: 0.2rem;
    }

    h3 {
      font-family: 'Quicksand', sans-serif;
      font-weight: 500;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    p  {
      font-family: 'Quicksand', sans-serif;
      font-weight: 200;
    }

    a {
      font-family: 'Lato', sans-serif;
      color: #81B29A;
    }

    a:hover {
      opacity: 0.6;
      color: #81B29A;
    }

    table {
      font-family: 'Quicksand', sans-serif;
      font-weight: 200;
    }
}